/* VARIABLES */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-primary: #43a337;
    --color-background: #21511b;
}

/* GLOBALS */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Figtree", sans-serif;
}

.static-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.static-page-container, .static-page-container > * { width: 100%; }

.div-cover-container, .div-footer, .div-navbar {
    background-color: var(--color-background);
}

.div { padding: 40px; }

.button-book {
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    
    background-color: var(--color-primary);
    color: white;
    border: 0;   
}

.header {
    color: var(--color-background);
    font-size: 24px;
    font-weight: 700;
}

.italic { font-style: italic; }

.strong {
    font-size: 120%;
    text-align: center;
    font-weight: 700;
}

.pointer { cursor: pointer; }

.blur { filter: blur(6px); }

/* NAVBAR */

.div-navbar {
    display: flex;
    padding: 20px 20px 0px 20px;
    height: fit-content;

    color: white;
}

.div-navbar li {
    display: inline-block;
    margin-right: 3em;
}

@media screen and (max-width: 960px) {
    .div-navbar {
        justify-content: center;
        padding-bottom: 20px;
    }
}

/* COVER */

.spacer {
    display: flex;
    height: 20%;
}

.div-cover-container { padding: 0px 40px 40px 40px; }

.div-cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.div-cover-left-side {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 5vw;
    gap: 70px;
}

.div-cover-tagline {
    font-size: clamp(22px, 1.4vw, 26px);
    color: white;
}

.div-cover-logo-and-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.div-cover-badges {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-cover-logo-and-book img { width: 300px; }

.div-cover-badges img { height: 60px; }

.div-cover-right-side img { width: clamp(350px, 30vw, 30vw); }

@media screen and (max-width: 960px) {
    
    .div-cover-container { flex-direction: column-reverse; }

    .div-cover-logo-and-book {
        flex-direction: column;
    }

    .div-cover-container,
    .div-cover-container > *,
    .div-cover-logo-and-book  { gap: 30px; }

    .div-cover-left-side {
        text-align: center;
        padding: 0;
    }

    .div-cover-badges img { height: 45px; }
}


/* BLURB */

.div-blurb-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.div-blurb-container img {
    width: 300px;
}

.div-blurb-container p {
    max-width: 50ch;
    line-height: 1.5;
}

.div-blurb-container p + p {
    margin-top: 20px;
}

@media screen and (max-width: 960px) {
    .div-blurb-container {
        flex-direction: column;
    }
}

/* BODY AREAS */

.div-body-areas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.div-body-areas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    gap: 40px;
    margin-top: 40px;
}

.div-body-areas-container p + p {
    margin-top: 20px;
}

/* POPUP QUIZES */
.popup {
    display: none;
}

.popup {
    flex-direction: column;
    position: fixed;
    z-index: 2;
    
    width: fit-content;
    height: fit-content;
    max-height: 95vh;
    overflow: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    
    box-shadow: 1px 1px 20px 20px rgba(0,0,0,0.75);
    background-color: white;
    padding: 2rem;
}

.popup h2 { margin-bottom: 1rem; }
.popup h3 { margin-top: 2rem; }

.popup img { width: 20%; }

.popup ul { list-style: none; }

.popup p, .popup li {
    max-inline-size: 65ch;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    align-self: start;
}

.popup input { margin-right: 20px; }

.close-button {
    display: flex;
    position: absolute;
    right: 2rem;
    top: 0rem;
    width: 100%;
    justify-content: end;
}
.close-button p {
    margin-top: 0rem;
    font-size: 2rem;
}
.close-button p:hover {
    font-weight: 800;
    transform: scale(120%);
}

.bottom-close { margin-top: 1.5rem; }
.bottom-close p {
    font-weight: 800;
    color: blue;
    text-decoration: underline;
}
.bottom-close p:hover { transform: scale(120%); }